$card-width: 250px;
$card-height: 250px;
$middle-number-size: 42px;
$font-size: 14px;
$small-card-background-color: #5F6b6d;
$progress-bar-color: #6bbeb7;
$progress-bar-color-background: #F6f7fa;
$small-card-text-color: #FFFFFF;
$small-card-hr-color: #293F41;
$card-title-height: 36px;
$font-size-number-duo-threeinfos: 25px;
$small-card-done-text-color: #909090;

.small-card {
  background-color: $small-card-background-color;
  width: $card-width;
  min-height: $card-height;
  max-height: $card-height;
  box-shadow: 0px 0px 15px 3px rgba(128, 128, 128, 0.445);
  margin: 10px 10px 10px 10px;
  border-radius: 15px;
  overflow: hidden;
}

.double-card {
  background-color: $progress-bar-color-background;
  width: $card-width + $card-width + 10px + 10px;
  min-height: $card-height;
  max-height: $card-height;
  box-shadow: 0px 0px 15px 3px rgba(128, 128, 128, 0.445);
  margin: 10px 10px 10px 10px;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  .card-title {
    color: $small-card-done-text-color !important;
    width: $card-width + $card-width + 10px + 10px;
  };
  .card-title-line{
    width: $card-width + $card-width
  }
}

.small-card a,
.small-card a:visited,
.small-card,
.small-card-dual-card a,
.small-card-dual-card a:visited,
.small-card:hover,
.small-card a:hover,
.small-card-dual-card,
.double-card a,
.double-card a:visited,
.double-card,
.double-card:hover,
.double-card a:hover {
  color: $small-card-text-color;
  text-decoration: none;
}

.doneMode{
  background-color: $progress-bar-color-background !important;
}

.doneMode,
.doneMode a,
.doneMode a:visited{
  color: $small-card-done-text-color !important;
  text-decoration: none;
}

.card-title {
  padding-top: 1px;
  position: absolute;
  width: $card-width;
  margin: 0 !important;
  line-height: 1rem;
  min-height: $card-title-height;
  font-size: $font-size;
}
.card-title-line {
  position: absolute;
  top: $card-title-height;
  min-width: 100% !important;
  min-height: 1px;
  margin: auto !important;
  background-color: $small-card-hr-color;
}
.card-title-text {
  text-align: center;
  margin: 0;
  padding: 10px 5px 5px 5px;
}

/* Milieu de la carte */
.card-middle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
  min-height: 170px +  $card-title-height;
  max-height: 170px +  $card-title-height;
  overflow: hidden;
}
.card-middle-number {
  margin: 0;
  font-size: $middle-number-size;
}
/* milieu carte de type threeInformation */

/* pied de la carte */
.card-bottom {
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $card-width;
  min-height: 44px;
  max-height: 44px;
  overflow: hidden;
  p {
    color: $progress-bar-color;
    margin: auto;
    padding-top: 5px;
  }
}

.card-bottom-hr {
  margin: 0;
  background-color: $progress-bar-color;
}

/* Done */
.card-middle-done-icon{
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 35px;
}

/* Done Mode */
.card-duo-middle-done-icon{
  margin-bottom: 5px;
  font-size: 30px;
}
.doneMode,
.doneMode a,
.doneMode a:visited{
  color: $small-card-done-text-color !important;
  text-decoration: none;
}


